/* Sử dụng boder-spacing nhưng chưa giãn đều được các dòng trong bảng */
.thongtin {
    width: 1400px;
    border-spacing: 10px ; 
    table-layout: fixed;
    height: fit-content;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #30598c;
    color: #fff;
    margin: 100px;
}
thead {
    font-size: 18px;
    text-align: left;
}
tbody {
    font-size: 14px;
}
.icon {
    font-size: 30px;
    letter-spacing: 20px;
}
a {
    color: #fff;
}
