.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    /* transition-property: width, height;
    transition-duration: 1s, 2s; */
    transition: all 1s 1s;
}

.box:hover {
    width: 400px;
    height: 900px;
}

.content {
    width: 500px;
    background-color: black;
    color: rgb(66, 131, 188);
    margin: auto;
    padding: 20px;
    overflow: hidden;  /*nhung gi di ra ngoai thi se bi an di*/
}

.content h3 {
    position: relative;
    left: 550px;
    transition: all 2s;
    opacity: 0;  /*khi di ra ngoai thi se giam mau di*/
}

.content:hover h3 {
    left: 0;
    opacity: 1;
}

.content p {
    position: relative;
    right: 550px;
    transition: all 2s;
    opacity: 0;
}

.content:hover p {
    right: 0;
    opacity: 1;
}