<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="assignment-update-modal" class="modal fade" id="assignment-update-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update a new DriverAssignment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form action="#" id="assignment-update-modal-form"  method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="driverId">lái xe</label>
                        <select  class="form-control" id="driverId" name="driverId">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="routeId">tuyến</label>
                        <select  class="form-control" id="routeId" name="routeId">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Số lượt</label>
                        <input type="number" class="form-control" id="quantity" name="quantity">
                    </div>

                    <div class="form-group">
                        <label for="date">Ngày lái</label>
                        <input type="date"  class="form-control" id="date" name="date">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit-update-assignment">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>