<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav th:fragment="nav" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
<!--    <a class="navbar-brand" href="#">Driver management</a>-->

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/drivers}">Danh sách tài xế</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/bus}">Danh sách tuyến xe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/assignments}">Quản lý phân công lái xe</a>
        </li>
    </ul>
</nav>
</body>
</html>