<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="route-create-modal" class="modal fade" id="route-create-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create a new route</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form action="#" id="route-create-modal-form" th:action="@{/bus}" th:object="${tuyenTaoMoi}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Tuyến </label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"/>
                    </div>
                    <div class="form-group">
                        <label for="distance">Khoảng cách </label>
                        <input type="text" th:field="*{distance}" class="form-control" id="distance"/>
                    </div>
                    <div class="form-group">
                        <label for="stopover">Số điểm dừng</label>
                        <input type="text" th:field="*{stopover}" class="form-control" id="stopover"/>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>