<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="pagination d-flex justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/?page={page} (page=${currentPage-1})}">Previous</a>
    </li>
    <li class="page-item" th:each="page:${#numbers.sequence(1,courses.getTotalPages())}"
        th:classappend="${currentPage == page ? 'active' : '' }  ">
        <a class="page-link" th:href="@{/(page=${page}) }"><span
                th:text="${page}"></span></a>
    </li>

    <li class="page-item" th:classappend="${currentPage == courses.getTotalPages() ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/(page=${currentPage+1})}">Next</a></li>
</ul>
</body>
</html>