/*Dành cho nút Login */

#login {
    padding: 12px 25px 12px 25px;
    position: relative;
    background-color: #c89551;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#login:hover {
    color: #ffffff;
    background-color: #ac7e7e;
    transition: all .4s;
    scale: 1.2
}

/*Dành cho giao diện login*/


