<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Route management</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

</head>
<body>
<div class="container-fluid m-0 p-0">

    <div th:insert="fragments/nav :: nav"></div>

    <div class="row  mt-3 ml-3">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#route-create-modal">
                Create
            </button>
        </div>
    </div>

    <div th:insert="fragments/route-create-modal :: route-create-modal"
         th:with="tuyenTaoMoi=${tuyenTaoMoi}"></div>

    <div class="row mt-4 mx-3">
        <div class="col">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Tên tuyến</th>
                    <th class="text-center">Khoảng cách</th>
                    <th class="text-center">Số điểm dừng</th>
                    <th class="text-center">Actions</th>
                </tr>
                <tr th:each="u: ${danhSachTuyen}">
                    <td th:text="${u.id}"/>
                    <td th:text="${u.name}"/>
                    <td th:text="${u.distance}"/>
                    <td th:text="${u.stopover}"/>
                    <td>
                        <a role="button" class="mr-3 text-primary update-busline" th:attr="route-id=${u.id}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a role="button" class="text-danger"
                           th:href="@{'/bus/'+${u.id}+'/delete'}"
                           th:data-confirm-delete="|Bạn có chắc chắn muốn xóa tài xế này không?|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:insert="fragments/route-update-modal :: route-update-modal"></div>

</div>
</body>
</html>

<!-- jQuery library -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script>
    $(document).ready(function () {
        toastr.options.timeOut = 2500;

        $("#route-update-modal-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "name": {
                    required: true,
                    maxlength: 255
                },
                "distance": {
                    required: true,
                    maxlength: 255
                },
                "stopover": {
                    required: true,
                    min: 0
                }
            },
            messages: {
                "name": {
                    required: "Bắt buộc nhập tên tuyến",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "distance": {
                    required: "Bắt buộc nhập khoảng cách",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "stopover": {
                    required: "Bắt buộc nhập số điểm dừng",
                    min: "Điểm dừng không được nhỏ hơn 0"
                }
            }
        });
        $("#route-create-modal-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "name": {
                    required: true,
                    maxlength: 255
                },
                "distance": {
                    required: true,
                    maxlength: 255
                },
                "stopover": {
                    required: true,
                    min: 1
                }
            },
            messages: {
                "name": {
                    required: "Bắt buộc nhập tên tuyến",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "distance": {
                    required: "Bắt buộc nhập khoảng cách",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "stopover": {
                    required: "Bắt buộc nhập số điểm dừng",
                    min: "Điểm dừng không được nhỏ hơn 1"
                }
            }
        });

        $(".update-route").click(function (event){
            $('#route-update-modal').modal('show');

            const routeId = $(event.currentTarget).attr("busline-id");
            console.log(routeId);

            let currentRoute = null;

            $.ajax({
                url: '/api/bus/' + buslineId,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    currentRoute = data;

                    $('#route-update-modal #name').val(currentRoute.name);
                    $('#route-update-modal #distance').val(currentRoute.distance);
                    $('#route-update-modal #stopover').val(currentRoute.stopover);

                    $('#route-update-modal #submit-update-route').attr("route-id", routeId);

                    $('#route-update-modal').modal('show');
                },
                error: function (data) {
                    console.log(data);
                    toastr.warning(data.responseJSON.message);
                }
            });
        })

        $("#submit-update-route").click(() => {
            const isValidForm = $("#route-update-modal-form").valid();
            if (!isValidForm) {
                return;
            }

            const routeId = $('#route-update-modal #submit-update-route').attr("route-id");
            const formData = $('#route-update-modal-form').serializeArray();
            console.log(formData);
            if (!formData || formData.length === 0) {
                return;
            }
            const requestData = {};
            for (let i = 0; i < formData.length; i++) {
                requestData[formData[i].name] = formData[i].value;
            }

            $.ajax({
                url: '/api/bus/' + routeId,
                type: 'PUT',
                data: JSON.stringify(requestData),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Cập nhật tuyến xe thành công");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function (data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        });
    });
</script>