* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    height: 1000px;
}

img {
    max-width: 100%;
}

.bar {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 11;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}
.taskbar {
    height: 115px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
}

.lazada-logo img {
    object-fit: cover;
    height: 40px;
    width: 127px;
    margin-left: 15px;
}

.search {
    width: 688px;
    display: flex;
    height: 45px;
    line-height: 45px;
}

.search-icon {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #f57224;
    padding-left: 15px;
}

.shopping-cart-icon {
    font-size: 25px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 20px;
}

.zalopay img {
    object-fit: cover;
    height: 45px;
    width: 188px;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: #757575;
}

ul {
    list-style-type: none;
}

.title {
    margin-bottom: 20px;
}

.background {
    position: relative;
    z-index: 9;
    background-color: #a529b1;
}

.background1 {
    height: 324px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding-left: 350px;

}
.menu {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 165px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.menu-item {
    width: 200px;
    /* position: relative; */
}

.menu-item p {
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item p .icon {
    display: none;
}

.menu-item-small p .icon1 {
    display: none;
}

.menu-item:hover > p a {
    color: chocolate;
}

.menu-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}

.menu-item-small:hover > p .icon1 {
    display: flex;
    color: chocolate;
}
.sub-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #fff;
    display: none;                     
    height: 100%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.sub-menu-item {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #fff;
    display: none;                        
    height: 100%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.menu-item:hover .sub-menu {
    display: flex;
}

.menu-item-small:hover .sub-menu-item {
    display: flex;
}
