p {
    font-size: xx-large;
}
#green {
    color: green;
    font-size: 60;
}
/* <!-- h2 heading: chọn thẻ có id là heading nằm trong thẻ h2 -->
<!-- h2 > heading: chọn thẻ có id là heading là con trực tiếp của thẻ h2 -->
<!-- h2heading: chọn thẻ h2 có id là heading --> */
.text {
    text-align: center;
    font-size: 160px;
    color: brown;
    
}